# MongoDB Configuration
MONGO_URI=MONGO_URI=mongodb+srv://doadmin:Wf23o5u04dyX7U61@private-db-mongodb-sgp1-79805-d62ce5df.mongo.ondigitalocean.com/materials_db?authSource=admin
DB_NAME=materials_db

# Google Gemini API
GOOGLE_API_KEY=AIzaSyC4q_TTXSP4buXOA4KKV3KUIJUfvi-m9Dk
GEMINI_MODEL=gemini-1.5-flash

# Service Configuration
CHATBOT_PORT=8050
CHATBOT_HOST=0.0.0.0
DEBUG=false

# Optional API Key for securing the chatbot endpoint
CHATBOT_API_KEY=your_optional_api_key
